/*
** @Author: Liuke
** @StudentId: 1651573
** @Description: Some styles are referring to the script of Teacher Xu,
**            while almost all the styles has been changed to adapt to my ideal page.
**
 */


html,
body {
    margin: 0;
    padding: 0;

}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    /*background-color: #2c3338;*/
    color: #4d4d4d;
    overflow-x: hidden;
    margin: 0 auto;
    font-weight: 300;
}

body.color-one{
    background: #ffeee4;
}

body.color-two{
    background: rgba(255,184,95,0.4);
}

body.color-three{
    background: #b8bedd;
}

.circle{
    border-radius: 50%;
    background: #2EC4B6;
    height: 32px;
    width: 32px;
    margin-right: 30px;
}

.circle.color-one{
    background: #ffeee4;
}

.circle.color-two{
    background: rgba(255,184,95,0.4);
}

.circle.color-three{
    background: #b8bedd;
}

.circle.color-four{
    background: #f5f5f5;
}

.circle.selected{
    border: solid 2px black;
}


.app-wrap{
    margin: 10px 10px;
}


div.smile-container{
    height: 50px;
    text-align: center;
}

img.smile{
    margin:0 auto;
    top:-60px;
    position: relative;
}


.status{
    display: block;
    height: 60px;
    padding: 0 30px 0 30px;
}

input[type='date']{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 16px;
    background-color: rgba(0,135,203,0.5);
    border: none;
    float: right;
    outline: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-right: 10px;
    width: 220px;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

input[type='date'].cur{
    opacity: 1;
    visibility: visible;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {

    width: 200px;
 }

input[type="date"]::-webkit-datetime-edit-text {
    color: #4D90FE;

    /*padding: .1em .5em;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}




.filters {
    float: right;
    list-style: none;
    padding-left: 0;
}

.filters li {
    display: inline;
    line-height: 28px;
    outline: none;
    font-size: 28px;
}

.filters li a {
    outline: none;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
}

.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.selected {
    background: rgba(0,135,203,0.5)
}

.filters li a.hidbc{
    background: none;
}



.hidden {
    display: none;
}

.todo-container {
    margin: 20px 20px 40px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-container input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}


.todo-container h1 {
    position: absolute;
    top: -270px;
    width: 100%;
    font-size: 200px;
    font-weight: 100;
    text-align: center;
    /*color: rgba(175, 47, 47, 0.15);*/
}


.input-wrap{
    overflow-x: hidden;
    background: rgba(109, 129, 156,0.8);
    padding: 16px 16px 16px 0;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.input-wrap.color-one{
    background: #2EC4B6;
    box-shadow: inset 0 -2px 1px rgba(46, 196, 182, 0.03);
}

.input-wrap.color-two{
    background: #98c1d9;
    box-shadow: inset 0 -2px 1px rgba(152, 193, 217, 0.03);
}

.input-wrap.color-three{
    background: rgba(255,153,51,0.6);;
    box-shadow: inset 0 -2px 1px rgba(216,164,127, 0.03);
}

.new-todo{
    float: left;
    width: 75%;
    font-size: 36px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 66px;
    outline: none;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    padding-left: 16px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
}

.toggle-all {
    float: left;
    outline: none;
    text-align: center;
    border: none; /* Mobile Safari */
    line-height: 66px;
    height: 66px;
    width: 63px;
}

.toggle-all:before {
    content: '\27A4';
    font-size: 36px;
    color: #e6e6e6;
}

.toggle-all:checked:before {
    color: #737373;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    height: 99px;
    background: #fff;
    border-bottom: 1px solid #6d819c;
    transition: transform 400ms ease;
}

.todo-list li.color-one{
    border-bottom: 1px solid #2EC4B6;
    background: #EFFFE9;
}

.todo-list li.color-two{
    border-bottom: 1px solid #98c1d9;
    background: #edf6f9;
}

.todo-list li.color-three{
    border-bottom: 1px solid #d8a47f;
    background: #ddc8c4;
}

.todo-list li.over-hidden{
    overflow-x: hidden;
}



.todo-list li:last-child {
    border-bottom: none;
}

.todo-list li .todo-content {
    padding: 16px 16px 16px 16px;
    display: inline-block;
    font-size: 36px;
    line-height: 66px;
    transition: color 0.4s;
    overflow-x: hidden;
    width: 75%;
}

.todo-list li.completed .todo-content {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-content .content{
    line-height: 36px;
}

.todo-content .ddl{
    line-height: 16px;
    font-size: 20px;
    margin-top: 20px;
    /*font-style: italic;*/
    color: #666;
}

.todo-content .ddl.El{
    color: red;
    font-weight: 400;
}

.todo-content .ddl.Ml{
    color: #CE6D39;
    font-weight: 400;
}


.todo-list li .view{
    display: block;
    height: 100%;
    width: auto;
    left: -240px;
    transform: translateX(-240px);
    white-space:nowrap;
}

.todo-list li .wrapper{
    height: 99px;
    line-height: 99px;
    font-size: 48px;
    width: 80px;
    text-align: center;
    float: left;
}

.todo-list li .wrapper.min{
    width: 70px;
}

.todo-list li .wrapper.min.L{
    box-shadow: 4px 0 15px 0 lightgreen;
}

.todo-list li .wrapper.min.M{
    box-shadow: 5px 0 15px 0 #ffff9f;
}

.todo-list li .wrapper.min.E{
    box-shadow: 4px 0 15px 0 lightcoral;
}

.todo-list li .wrapper.min.checked:before{
    content:"\2714";
    font-size: 36px;
    color: #737373;
}

.E{
    background: lightcoral;
}

.M{
    background: #ffff9fe8;
}

.L{
    background: lightgreen;
}


.todo-count {
    float: left;
    text-align: left;
    line-height: 60px;
    font-size: 28px;
    margin-left: 5px;
}

.todo-count strong {
    font-weight: 300;
}

span{
    color: #737373;
}

span.right{
    color: #4d4d4d;
    line-height: 28px;
    margin-top: 14px;
    padding: 3px 7px;
}



path {
    fill: transparent;
}
text {
    /*margin-top:20px;*/
    font: 58px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    fill: #000000;
    font-weight: 300;

}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    font-size: 100%;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button.add{

    color: #e6e6e6;
    float: right;
    line-height: 66px;
    margin-right: 5px;
    text-align: center;
    width: 5%;
    font-size: 400%;
}


.opacity-hidden{
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

.opacity-hidden.cur{
    opacity: 1;
    visibility: visible;
}


.clear-completed {
    float: right;
    position: relative;
    line-height: 32px;
    font-size: 32px;
    text-decoration: none;
}



.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .toggle-all,
    .todo-list li .toggle {
        background: none;
    }

    .todo-list li .toggle {
        height: 99px;
    }

    .toggle-all {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-appearance: none;
        appearance: none;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }

    .filters {
        bottom: 10px;
    }
}

@keyframes addItem {
    from{
        box-sizing: border-box;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    to{
        box-sizing: border-box;
        height: 99px;
    }
}

@keyframes hideItem {
    from{
        box-sizing: border-box;
        height: 99px;
        padding-top: 0;
        padding-bottom: 0;
    }
    to{
        box-sizing: border-box;
        height: 0;
    }
}

.dialog-wrap{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.5);
}

.dialog-wrap.hidden{
    display: none;
}

.dialog-container{
    position: relative;
    width: 80%;
    height: auto;
    top: -5%;
    border-radius: 5px;
    margin: auto;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}

.dialog-view{
    padding: 5% 5% 5% 5%;
    font-size: 36px;
    overflow: hidden;
}

.new-todo.dialog {
    width: 100%;
    line-height: 99px;
    border-bottom: 1px gray solid;
    margin-top: 15px;
    padding-inline-start: 15px;
}

.no-margin{
    margin: 0;
}

.gray-font{
    color: #333;
}

.right{
    float: right;
}

.right .inline{
    margin-top: 30px;
    display: inline-block;
    margin-left: 50px;
}

.time{
    float: right;
    outline: none;
    border: none;
    /*border-right: 2px solid;*/
    font-size: 20px;
    line-height: 40px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*padding: 0.8rem 1rem;*/
    /*border-radius: 5px;*/
    /*color: white;*/
    background:none;
}

.timespan{
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    padding-left: 15px;
}

.over-hidden{
    overflow: hidden;
}

.rbot{
    margin-bottom: 20px;
    height: 40px;
}


